@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.custom-container {
  max-width: 1110px;
  padding: 0 30px;
  margin: 0 auto;
}
@media only screen and (max-width: 1024px) {
  .custom-container {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 768px) {
  .custom-container {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 576px) {
  .custom-container {
    padding: 0 20px;
  }
}

.course-container {
  max-width: 1321px;
  margin: 0 auto;
}

.button {
  padding: 8px 16px;
  border-radius: 16px;
  border: 1px solid white;
  cursor: pointer;
  font-weight: 400;
  line-height: normal;
  font-size: 14px;
}
.button--white {
  border: 1px solid rgba(0, 0, 0, 0.341);
}
.button--orange {
  background-color: #f6783a;
  color: white;
  border-radius: 4px;
}

.nav-wrapper {
  background-color: #002e72;
  position: absolute;
  width: 100%;
  z-index: 999;
}
.nav-wrapper--course {
  background-color: #fff;
  position: relative;
}
.nav-wrapper .navbar {
  color: white;
  max-width: 1329px;
  margin: 0 auto;
  padding: 48px 0px;
  z-index: 99;
  position: relative;
}
.nav-wrapper .navbar--course {
  color: black;
}
@media only screen and (max-width: 768px) {
  .nav-wrapper .navbar {
    padding: 30px 0;
    max-width: 700px;
  }
}
@media only screen and (max-width: 576px) {
  .nav-wrapper .navbar {
    padding: 15px 0;
    max-width: 390px;
  }
}
.nav-wrapper .navbar .navbar-brand svg {
  width: 254px;
  height: 33px;
}
@media only screen and (max-width: 768px) {
  .nav-wrapper .navbar .navbar-brand svg {
    width: 160px;
    height: 25px;
  }
}
@media only screen and (max-width: 576px) {
  .nav-wrapper .navbar .navbar-brand svg {
    width: 100px;
    height: 20px;
  }
}
.nav-wrapper .navbar .navbar-toggler {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}
.nav-wrapper .navbar .navbar-toggler i {
  color: white;
  font-size: 25px;
}
@media only screen and (max-width: 576px) {
  .nav-wrapper .navbar .navbar-toggler i {
    font-size: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .nav-wrapper .navbar__left {
    width: 100%;
    position: absolute;
    top: 83px;
    background-color: #002e72;
  }
}
.nav-wrapper .navbar__left .navbar-nav {
  gap: 40px;
  color: white;
}
@media only screen and (max-width: 1024px) {
  .nav-wrapper .navbar__left .navbar-nav {
    gap: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .nav-wrapper .navbar__left .navbar-nav {
    gap: 20px;
  }
}
.nav-wrapper .navbar__left .navbar-nav .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 768px) {
  .nav-wrapper .navbar__left .navbar-nav .nav-item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.nav-wrapper .navbar__left .navbar-nav .nav-item.about:hover .about-section {
  display: block;
}
.nav-wrapper .navbar__left .navbar-nav .nav-item.about .about-section {
  background-color: #fff;
  position: absolute;
  top: 65%;
  display: none;
}
.nav-wrapper .navbar__left .navbar-nav .nav-item.about .about-section ul {
  list-style: none;
  padding: 0;
  margin-top: 40px;
}
.nav-wrapper .navbar__left .navbar-nav .nav-item.about .about-section ul li {
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
  padding: 12px 30px;
}
.nav-wrapper .navbar__left .navbar-nav .nav-item.about .about-section ul li:hover {
  background-color: #f6783a;
}
.nav-wrapper .navbar__left .navbar-nav .nav-item.about .about-section ul li:hover a {
  color: white;
}
.nav-wrapper .navbar__left .navbar-nav .nav-item.about .about-section ul li a {
  text-decoration: none;
  color: #333;
}
.nav-wrapper .navbar__left .navbar-nav .nav-item.courses:hover .courses-content {
  display: block;
}
.nav-wrapper .navbar__left .navbar-nav .nav-item.courses:hover .arrow {
  display: block;
}
.nav-wrapper .navbar__left .navbar-nav .nav-item.courses .courses-content {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 60px;
  position: absolute;
  max-width: 100%;
  background-color: #fff;
  top: 80%;
  left: 0;
  right: 0;
  z-index: 100;
  display: none;
}
.nav-wrapper .navbar__left .navbar-nav .nav-item.courses .courses-content ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.nav-wrapper .navbar__left .navbar-nav .nav-item.courses .courses-content ul li {
  overflow: hidden;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.nav-wrapper .navbar__left .navbar-nav .nav-item.courses .courses-content ul li.heading {
  font-size: 18px;
  font-weight: 500;
  color: #121212;
}
.nav-wrapper .navbar__left .navbar-nav .nav-item.courses .courses-content ul li.link {
  color: #2196f3;
  text-decoration-line: underline;
}
.nav-wrapper .navbar__left .navbar-nav .nav-item .arrow {
  position: absolute;
  bottom: 0;
  display: none;
}
.nav-wrapper .navbar__left .navbar-nav .nav-item .nav-link {
  color: white;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0px;
}
.nav-wrapper .navbar__left .navbar-nav .nav-item .nav-link--course {
  color: #121212;
}
@media only screen and (max-width: 768px) {
  .nav-wrapper .navbar__left .navbar-nav .nav-item .nav-link {
    font-size: 18px;
  }
}
@media only screen and (max-width: 576px) {
  .nav-wrapper .navbar__left .navbar-nav .nav-item .nav-link {
    font-size: 16px;
  }
}
.nav-wrapper .navbar__left .navbar-nav .nav-item i {
  width: 24px;
  height: 24px;
}
.nav-wrapper .navbar__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.nav-wrapper .navbar__right .btn {
  padding: 12px 24px;
  border-radius: 16px;
  background-color: #f6783a;
  color: white;
  font-size: 20px;
  font-style: 20px;
  font-weight: 400;
  line-height: normal;
}
@media only screen and (max-width: 768px) {
  .nav-wrapper .navbar__right .btn {
    padding: 8px 16px;
    font-size: 16px;
  }
}
@media only screen and (max-width: 576px) {
  .nav-wrapper .navbar__right .btn {
    padding: 6px 12px;
    font-size: 13px;
  }
}

.hero-section {
  background-image: url(/assets/Frame\ 4.jpg);
  color: white;
  height: 733px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 768px) {
  .hero-section {
    height: 560px;
  }
}
@media only screen and (max-width: 576px) {
  .hero-section {
    height: 350px;
    padding: 0 15px;
  }
}
.hero-section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 954px;
  height: 360px;
}
@media only screen and (max-width: 768px) {
  .hero-section__content {
    height: 324px;
  }
}
@media only screen and (max-width: 576px) {
  .hero-section__content {
    width: unset;
    height: 186px;
    gap: 0px;
  }
}
.hero-section__content h1 {
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
@media only screen and (max-width: 768px) {
  .hero-section__content h1 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 576px) {
  .hero-section__content h1 {
    font-size: 19px;
    white-space: nowrap;
    font-weight: 600;
    text-align: center;
  }
}
.hero-section__content p {
  width: 729.5px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 22.4px;
  margin-bottom: 48px;
}
@media only screen and (max-width: 768px) {
  .hero-section__content p {
    font-size: 15px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 576px) {
  .hero-section__content p {
    font-size: 10px;
    width: auto;
    margin-bottom: 5px;
    line-height: 18.6px;
  }
}
.hero-section__content__courses {
  max-width: 422px;
  height: 211px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 768px) {
  .hero-section__content__courses {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 576px) {
  .hero-section__content__courses {
    width: auto;
    height: auto;
    margin-top: 0px;
    margin-top: 10px;
  }
}
.hero-section__content__courses h3 {
  margin-bottom: 24px;
}
@media only screen and (max-width: 576px) {
  .hero-section__content__courses h3 {
    margin-bottom: 15px;
    font-size: 19px;
  }
}
.hero-section__content__courses .courses__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 16px;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}
@media only screen and (max-width: 768px) {
  .hero-section__content__courses .courses__button {
    row-gap: 15px;
  }
}
.hero-section__content__courses .courses__button .button {
  font-size: 20px;
}
@media only screen and (max-width: 576px) {
  .hero-section__content__courses .courses__button .button {
    font-size: 10px;
  }
}
.hero-section__left {
  position: absolute;
  left: 0;
}
.hero-section__left img {
  width: 100%;
}
.hero-section__right {
  position: absolute;
  right: 0;
}
.hero-section__right img {
  width: 100%;
}
.hero-section__score {
  position: absolute;
  bottom: -60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}
@media only screen and (max-width: 768px) {
  .hero-section__score {
    gap: 15px;
    bottom: -45px;
  }
}
@media only screen and (max-width: 576px) {
  .hero-section__score {
    gap: 5px;
    bottom: -25px;
  }
}
.hero-section__score__count {
  color: black;
  background-color: white;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 92px 30px 41px;
  gap: 16px;
  -webkit-box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 768px) {
  .hero-section__score__count {
    padding: 10px 15px 10px 10px;
  }
}
@media only screen and (max-width: 576px) {
  .hero-section__score__count {
    padding: 5px 5px 5px 5px;
    gap: 10px;
  }
}
@media only screen and (max-width: 576px) {
  .hero-section__score__count img {
    width: 35px;
    height: 35px;
  }
}
.hero-section__score__count div img {
  width: 100%;
}
.hero-section__score__count .count .score {
  font-size: 32px;
  font-weight: 500;
  color: #002e72;
}
@media only screen and (max-width: 576px) {
  .hero-section__score__count .count .score {
    font-size: 16px;
  }
}
.hero-section__score__count .count .name {
  font-size: 16px;
  font-weight: 400;
  color: #002e72;
}
@media only screen and (max-width: 576px) {
  .hero-section__score__count .count .name {
    font-size: 9px;
  }
}

.explore-wrapper {
  padding-top: 140px;
}
@media only screen and (max-width: 768px) {
  .explore-wrapper {
    padding-top: 70px;
  }
}
@media only screen and (max-width: 576px) {
  .explore-wrapper {
    padding-top: 60px;
  }
}
.explore-wrapper .explore__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.explore-wrapper .explore h1 {
  font-size: 40px;
  font-weight: 500;
  line-height: 52px;
  color: #002e72;
  margin-bottom: 16px;
}
@media only screen and (max-width: 576px) {
  .explore-wrapper .explore h1 {
    font-size: 25px;
    line-height: 30px;
  }
}
.explore-wrapper .explore__p {
  text-align: center;
  max-width: 623px;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
}
@media only screen and (max-width: 576px) {
  .explore-wrapper .explore__p {
    font-size: 13px;
    line-height: 22px;
  }
}
.explore-wrapper .explore__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
  margin: 40px 0px;
}
@media only screen and (max-width: 768px) {
  .explore-wrapper .explore__button {
    margin: 20px 0;
  }
}
@media only screen and (max-width: 576px) {
  .explore-wrapper .explore__button {
    margin: 20px 0px;
    gap: 10px;
  }
}
.explore-wrapper .explore__button .button {
  font-size: 16px;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
  cursor: pointer;
}
@media only screen and (max-width: 576px) {
  .explore-wrapper .explore__button .button {
    font-size: 10px;
  }
}
.explore-wrapper .explore__button .button:hover {
  background-color: #f6783a;
  color: white;
}
.explore-wrapper .explore__button .button.active {
  background-color: #f6783a;
  color: white;
}
.explore-wrapper .explore .explore__card {
  margin-bottom: 40px;
}
.explore-wrapper .explore .explore__card img {
  max-width: 338px;
  max-height: 224px;
  width: 100%;
}
.explore-wrapper .explore .explore__card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 16px;
  max-width: 338px;
  padding: 8px 16px 16px 16px;
  border-left: 1px solid #f6783a;
  border-right: 1px solid #f6783a;
  border-bottom: 1px solid #f6783a;
  border-radius: 0 0 16px 16px;
}
@media only screen and (max-width: 768px) {
  .explore-wrapper .explore .explore__card__content {
    width: auto;
  }
}
@media only screen and (max-width: 576px) {
  .explore-wrapper .explore .explore__card__content {
    width: auto;
    gap: 10px;
  }
}
.explore-wrapper .explore .explore__card__content span {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.explore-wrapper .explore .explore__card__content span svg {
  margin-right: 8px;
}
.explore-wrapper .explore .explore__card__content p {
  font-weight: 500;
  font-size: 16px;
  line-height: 25.6px;
  color: #002e72;
}
@media only screen and (max-width: 576px) {
  .explore-wrapper .explore .explore__card__content p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
  }
}
.explore-wrapper .explore .explore__card__content__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.explore-wrapper .explore .explore__card__content__info img {
  width: 32px;
  height: 32px;
  border-radius: 32px;
  -o-object-fit: contain;
     object-fit: contain;
}
.explore-wrapper .explore .explore__card__content__info span {
  font-weight: 400;
  font-size: 14px;
  line-height: 22.4px;
}
.explore-wrapper .explore .explore__card__content__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
@media only screen and (max-width: 768px) {
  .explore-wrapper .explore .explore__card__content__price {
    gap: 4px;
  }
}
@media only screen and (max-width: 576px) {
  .explore-wrapper .explore .explore__card__content__price {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.explore-wrapper .explore .explore__card__content__price .money {
  color: #002e72;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}
@media only screen and (max-width: 768px) {
  .explore-wrapper .explore .explore__card__content__price .money {
    font-size: 15px;
  }
}
.explore-wrapper .explore .explore__card__content__price .offer {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: line-through;
  color: #767676;
}
@media only screen and (max-width: 768px) {
  .explore-wrapper .explore .explore__card__content__price .offer {
    font-size: 15px;
  }
}
.explore-wrapper .explore .explore__card__content__price .discount {
  color: #9e9e9e;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
@media only screen and (max-width: 768px) {
  .explore-wrapper .explore .explore__card__content__price .discount {
    font-size: 12px;
  }
}
@media only screen and (max-width: 768px) {
  .explore-wrapper .explore .explore__card__content__price .button {
    text-align: center;
    font-size: 10px;
    padding: 4px;
  }
}

#feature .splide__pagination__page {
  background-color: #f6783a;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  display: inline-block;
}
#feature .splide__pagination {
  position: absolute;
  top: 500px;
}
@media only screen and (max-width: 768px) {
  #feature .splide__pagination {
    top: 407px;
  }
}
@media only screen and (max-width: 576px) {
  #feature .splide__pagination {
    top: 350px;
  }
}

.client-section {
  position: relative;
  padding-top: 80px;
  padding-bottom: 120px;
}
@media only screen and (max-width: 768px) {
  .client-section {
    padding-top: 40px;
    padding-bottom: 80px;
  }
}
@media only screen and (max-width: 576px) {
  .client-section {
    padding-top: 20px;
    padding-bottom: 30px;
  }
}
.client-section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 58px;
}
.client-section__content__left {
  position: relative;
}
.client-section__content__left svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media only screen and (max-width: 768px) {
  .client-section__content__left img {
    width: 300px;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 16px;
  }
}
@media only screen and (max-width: 768px) {
  .client-section__content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media only screen and (max-width: 576px) {
  .client-section__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 0px;
  }
}
@media only screen and (max-width: 1024px) {
  .client-section__content__right {
    margin-top: 0px;
  }
}
@media only screen and (max-width: 768px) {
  .client-section__content__right {
    margin-top: 10px;
  }
}
.client-section__content__right h1 {
  color: rgba(0, 65, 163, 0.1);
  font-family: Poppins;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.4px;
}
@media only screen and (max-width: 1024px) {
  .client-section__content__right h1 {
    font-size: 60px;
  }
}
@media only screen and (max-width: 768px) {
  .client-section__content__right h1 {
    font-size: 40px;
  }
}
.client-section__review {
  position: absolute;
  right: 0;
  bottom: 40px;
  max-width: 656px;
  max-height: 226px;
  border-radius: 8px;
  padding: 88px 95px 79px 46px;
  -webkit-box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.3);
  z-index: 999;
  background-color: white;
}
@media only screen and (max-width: 768px) {
  .client-section__review {
    left: 310px;
    bottom: 80px;
    padding: 30px 30px;
    width: 400px;
  }
}
@media only screen and (max-width: 576px) {
  .client-section__review {
    display: none;
  }
}
.client-section__review .review p {
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
@media only screen and (max-width: 768px) {
  .client-section__review .review p {
    font-size: 13px;
  }
}
.client-section__review svg {
  margin-bottom: 10px;
}
.client-section__review span {
  color: #121212;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.event-section {
  color: white;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 65, 163, 0.54)), to(rgba(0, 65, 163, 0.54))), url(/assets/Upcoming\ event.jpg) lightgray 50%/cover no-repeat;
  background: linear-gradient(0deg, rgba(0, 65, 163, 0.54) 0%, rgba(0, 65, 163, 0.54) 100%), url(/assets/Upcoming\ event.jpg) lightgray 50%/cover no-repeat;
  background-blend-mode: multiply, normal;
  width: 100%;
  height: 550px;
  background-size: cover;
  background-position: center;
}
@media only screen and (max-width: 576px) {
  .event-section {
    height: 400px;
  }
}
.event-section__pagination {
  background-color: #fbc8ae;
  bottom: -64px;
}
.event-section__pagination.is-active {
  background-color: orangered;
}
@media only screen and (max-width: 768px) {
  .event-section__pagination {
    bottom: -30px;
  }
}
.event-section__description {
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 32px;
}
@media only screen and (max-width: 768px) {
  .event-section__description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 5%;
    gap: 0px;
  }
}
@media only screen and (max-width: 576px) {
  .event-section__description {
    height: 357px;
  }
}
.event-section__description__img img {
  -webkit-filter: opacity(90%);
          filter: opacity(90%);
}
@media only screen and (max-width: 768px) {
  .event-section__description__img img {
    width: 220px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media only screen and (max-width: 576px) {
  .event-section__description__img img {
    width: 120px;
    height: 100px;
    border-radius: 16px;
  }
}
.event-section__description__content h1 {
  font-size: 40px;
  font-weight: 500;
  line-height: 60px;
}
@media only screen and (max-width: 576px) {
  .event-section__description__content h1 {
    font-size: 30px;
    margin-bottom: 0px;
  }
}
.event-section__description__content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
@media only screen and (max-width: 576px) {
  .event-section__description__content p {
    font-size: 14px;
    margin-bottom: 0;
    line-height: 20px;
  }
}
.event-section__description__content .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}
@media only screen and (max-width: 576px) {
  .event-section__description__content .details {
    gap: 5px;
  }
}
.event-section__description__time h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  white-space: nowrap;
}

.student-section {
  padding: 80px 0;
}
@media only screen and (max-width: 576px) {
  .student-section {
    padding: 40px 0;
  }
}
.student-section__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.student-section__description h3 {
  font-size: 40px;
  font-weight: 500;
  line-height: 52px;
  color: #002e72;
}
@media only screen and (max-width: 576px) {
  .student-section__description h3 {
    font-size: 22px;
    line-height: 30px;
  }
}
.student-section__description .pera {
  max-width: 581px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #121212;
  text-align: center;
}
@media only screen and (max-width: 576px) {
  .student-section__description .pera {
    font-size: 13px;
    line-height: 20px;
  }
}
.student-section .student-section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 24px;
  padding: 40px 0;
}
@media only screen and (max-width: 576px) {
  .student-section .student-section__content {
    padding: 20px 0;
    gap: 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .student-section .student-section__content :nth-child(3) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
.student-section .student-section__content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  color: #3a3a3a;
  margin-bottom: 0px;
}
@media only screen and (max-width: 576px) {
  .student-section .student-section__content p {
    font-size: 13px;
    line-height: 22px;
  }
}
.student-section .student-section__content .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  color: black;
}
@media only screen and (max-width: 576px) {
  .student-section .student-section__content .name {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.student-section .student-section__content .name span {
  font-size: 16px;
  font-weight: 500;
  line-height: 25.6px;
  color: #3a3a3a;
}

.footer-section {
  color: white;
  background-image: url(/assets/Footer-01.png);
  padding: 52px 59px 56px 60px;
  background-size: cover;
  background-position: center;
}
@media only screen and (max-width: 768px) {
  .footer-section {
    padding: 30px;
  }
}
.footer-section .footer-section__content .reserve {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
}
.footer-section .footer-section__content .reserve svg {
  margin-right: 10px;
}
@media only screen and (max-width: 576px) {
  .footer-section .footer-section__content .reserve {
    font-size: 10px;
  }
}
.footer-section .footer-section__content__first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 24px;
}
@media only screen and (max-width: 576px) {
  .footer-section .footer-section__content__first {
    gap: 5px;
  }
}
.footer-section .footer-section__content__first h1 {
  font-size: 48px;
  font-weight: 600;
  font-family: "Raleway";
}
@media only screen and (max-width: 576px) {
  .footer-section .footer-section__content__first h1 {
    font-size: 30px;
  }
}
.footer-section .footer-section__content__first p {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}
@media only screen and (max-width: 576px) {
  .footer-section .footer-section__content__first p {
    font-size: 13px;
  }
}
.footer-section .footer-section__content__second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 768px) {
  .footer-section .footer-section__content__second {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media only screen and (max-width: 576px) {
  .footer-section .footer-section__content__second {
    margin-top: 8px;
  }
}
.footer-section .footer-section__content__second p {
  font-size: 16px;
  font-weight: 600;
}
@media only screen and (max-width: 576px) {
  .footer-section .footer-section__content__second p {
    font-size: 13px;
  }
}
.footer-section .footer-section__content__second ul {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 16px;
}
.footer-section .footer-section__content__second ul li {
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.footer-section .footer-section__content__third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (max-width: 768px) {
  .footer-section .footer-section__content__third__last {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}
@media only screen and (max-width: 768px) {
  .footer-section .footer-section__content__third {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 576px) {
  .footer-section .footer-section__content__third {
    margin-top: 0px;
  }
}
.footer-section .footer-section__content__third__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer-section .footer-section__content__third__wrap ul {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 16px;
}
.footer-section .footer-section__content__third__wrap ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.course-section {
  background-image: url(/assets/setup\ 1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  height: 377px;
}
.course-section .breadcrumb {
  padding-top: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0;
}
.course-section .breadcrumb .breadcrumb-item {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.4px;
}
.course-section .breadcrumb .breadcrumb-item a {
  color: white;
  text-decoration: none;
}
.course-section .breadcrumb .breadcrumb-item::before {
  color: white;
}
.course-section .breadcrumb .breadcrumb-item.active {
  color: white;
}
.course-section h2 {
  margin-top: 31px;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -0.96px;
  margin-bottom: 0;
}
.course-section p {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.48px;
}
.course-section .input-group {
  width: 516px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 35px 0;
}
.course-section .input-group-text {
  padding: 16px;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  background-color: white;
  border: none;
}
.course-section .input-group .form-control {
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 16px 16px 16px 0;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  border-left: none;
}