.about-section {
  position: relative;
  background-color: $bg-color;
  height: 667px;

  @include md {
    height: 773px;
  }
  @include sm {
    // height: unset;
  }

  &__bredcrum {
    padding-top: 150px;
    @include md {
      padding-top: 110px;
    }
    @include sm {
      padding-top: 99px;
    }
    .breadcrumb {
      @include md {
        justify-content: center;
        // margin: 0px;
      }
      li {
        &.breadcrumb-item {
          &::before {
            color: white;
          }
        }
        color: white;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 30px */
        letter-spacing: 0.4px;
        @include md {
          font-size: 15px;
        }
        a {
          color: white;
          text-decoration: none;
          font-family: Poppins;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 30px */
          letter-spacing: 0.4px;
          @include md {
            font-size: 15px;
          }
        }
      }
    }
  }

  &__intro {
    display: flex;
    align-items: center;
    justify-content: center;
    @include lg {
      gap: 0px !important;
    }
    @include md {
      flex-direction: column;
      gap: 5px;
    }
    gap: 111px;
    &__left {
      @include md {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      h1 {
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        color: white;
        margin-bottom: 16px;
        @include md {
          font-size: 30px;
        }
        @include sm {
          font-size: 30px;
        }
      }
      p {
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 25.6px */
        color: white;
        margin-bottom: 32px;
        @include md {
          font-size: 14px;
          margin-bottom: 25px;
          text-align: center;
        }
        @include sm {
          font-size: 15px;
        }
      }
    }

    &__right {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 1;

      @include md {
        top: -22px;
      }

      @include sm {
        top: 9px;
      }

      .video_img-play-icon {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          transition: transform 0.5s ease-in-out;
          width: 90px;
          height: 90px;
        }
      }

      .img {
        @include md {
          img {
            width: 100%;
          }
        }
      }

      .cart {
        position: absolute;
        top: 14px;
        right: 34px;
        z-index: -1;
        width: 582px;
        height: 309px;
        border-radius: 8px;
        background-color: #fef2eb;
      }

      &:hover {
        .video_img-play-icon {
          overflow: hidden;
          // background-color: rgba(11, 70, 113, 0.6);
          img {
            transform: scale(1.5);

            //  transition: transform 0.5s ease-in-out;
          }
        }
      }
    }
  }
}
