.location-section {
  margin-top: 80px;
  h1 {
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 48px */
    text-transform: capitalize;
    color: $font-color--blue;
    margin-bottom: 40px;
    text-align: center;
  }

  &__content {
    display: flex;
  gap: 120px;

    &__right {
        display: flex;
        flex-direction: column;
        gap: 44px;
      .bangladesh {
        display: flex;
        flex-direction: column;
        gap: 16px;
        .country {
          color: #002e72;
          font-family: Poppins;
          font-size: 24px;
          font-style: normal;
          font-weight: 500;
          line-height: 140%; /* 33.6px */
        }
        .map {
          color:   #002e72;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%; /* 24px */
        }
      }
    }
  }
}
