.learns {
  margin: 80px 0;
  background-color: $bg-color;
  padding: 40px 0px;
  color: white;
  @include sm{
    margin: 40px 0;
  }
  .learn {
    h1 {
      font-size: 40px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      @include md {
        font-size: 35px;
      }
      @include sm {
        font-size: 30px;
        text-align: start;
      }
    }
    &__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .column {
        flex: 1;
        margin: 10px;

        ul {
          list-style-type: none;
          padding: 0;

          li {
            margin-bottom: 32px;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 180%;
            display: flex;
            align-items: center;
            p {
              margin: 0px;
              @include sm {
                font-size: 16px;
                line-height: 26px;
              }
            }
            svg {
              margin-right: 8px;
              @include md {
              }
            }
            @include md {
              font-size: 12px;
              text-align: start;
              align-items: flex-start;
            }
            @include sm {
              margin-bottom: 20px;
            }
          }
        }
      }

      @include sm{
        flex-direction: column;
      }
    }
  }
}
