.faq-banner {
  overflow: hidden;
  .header-img {
    z-index: -1;

    img {
      height: 100%;
    }
  }
  .search-wrapper {
    padding: 85px 0;
    @include md {
      padding: 70px 0;
    }

    .faq__banner__contents {
      gap: 35px;
      padding: 18px 30px;
      h2 {
        color: white;
      }

      .search-input {
        width: 90%;
        position: relative;
        input {
          border: none;
        }

        svg {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translate(0, -50%);
          left: 20px;
        }
      }
    }
  }
}
