.footer {
  position: relative;
  background-color: #002e72;
  color: #fff;
  padding: 52px 0;

  .scroll-top-menu {
    height: 60px;
    width: 60px;
    background-color: #0041a3;
    position: fixed;
    top: auto;
    bottom: 50px;
    right: 20px;
    border-radius: 50%;
    border: none;
    color: white;
    opacity: 0;
    transition: opacity 3s ease;
    cursor: pointer;


    &.customFadeInUp {
      animation: customfadeInUp 1s ease forwards;
      cursor: pointer;
    }

    &.customFadeOut {
      animation: customFadeOut 0.5s ease forwards;
    }
  }

  @include sm {
    padding: 30px 0;
  }
  &-container {
    background: url(/assets/footer-bg.png) 0 0 / 160px no-repeat;
    background-position-x: right;
    background-position-y: -22px;

    .footer__about {
      &__logo {
        width: 260px;

        img {
          @include sm {
            // width: 200px;
            // height: 27px;
          }
        }
        @include md {
          width: 200px;
        }
      }
      P {
        margin-bottom: 0;
      }
      @include md {
        margin-top: 20px;
      }
      @include sm {
        margin-top: 0px;
      }
    }
  }
  &__items {
    display: flex;
    flex-direction: column;
    a {
      position: relative;
      width: fit-content;
      left: 0;
      transition: left 0.3s;
      display: inline-block;
      line-height: 150%;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 16px;
      color: white;
      &::after {
        content: "";
        width: 0%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        bottom: -5px;
        border-radius: 50px;
        left: 0;
        transition: width 0.4s;
      }
      &:hover::after {
        width: 100%;
      }
      p {
        margin-bottom: 0;
      }
    }
  }
}

@keyframes customfadeInUp {
  0% {
    transform: translate(0px, 50px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0);
    opacity: 1;
  }
}

@keyframes customFadeOut {
  0% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  100% {
    transform: translate(0px, 50px);
    // opacity: 0;
  }
}
