.footer-section {
  color: white;
  background-image: url(/assets/Footer-01.png);
  padding: 52px 59px 56px 60px;
  background-size: cover;
  background-position: center;
  @include md{
    padding: 30px;
  }

  .footer-section__content {
     .reserve{
      svg{
        margin-right: 10px;
      }
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-top: 10px;
      font-size: 14px;
      font-weight: 500;
      @include sm{
        font-size: 10px;
      }

    }
    &__first {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
      @include sm{
        gap: 5px;
      }
      h1 {
        font-size: 48px;
        font-weight: 600;
        font-family: "Raleway";
        @include sm{
          font-size: 30px;
        }
      }
      p{
         font-size: 16px ;
         font-weight: 400;
         line-height: 27px;
         @include sm{
          font-size: 13px;
         }
      }
    }
    &__second {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include md{
        align-items: center;
      }
      @include sm{
        margin-top: 8px;
      }
      p {
        font-size: 16px;
        font-weight: 600;
        @include sm{
          font-size: 13px;
        }
      }
      ul {
        list-style: none;
        padding: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 16px;
        

        li {
          cursor: pointer;
          font-size: 14px;
          font-weight: 400;
          line-height: 21px;
        }
      }
    }
    &__third {
      display: flex;
      justify-content: center;
      &__last{
        @include md{
          justify-content: center!important;
        }
      }
      @include md{
        justify-content: flex-start;
        margin-top: 20px;
      }
      @include sm{
        margin-top: 0px;
      }
      &__wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        ul {
          list-style: none;
          padding: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 16px;

          li {
            display: flex;
            gap: 10px;
          }
        }
      }
    }
  }
}
