.nav-section {
  position: fixed;
  z-index: 11;
  width: 100%;
  padding: 8px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.13);
  transition: all 0.3s;

  &.shadows {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 3px 0;
  }

  &.nav-course {
    background-color: white;
  }
  @include md {
    background-color: white;
  }
  &.header-colour {
    background-color: white;
  }

  .navbar {
    position: static;
    &-brand {
      img {
        width: 225px;
        height: 31px;
        @include md {
          width: 162px;
          height: 22px;
        }
        @include sm {
          width: 140px;
          height: 19.6px;
        }
      }
    }
    &-toggler{
      transition: none;
    }

    .button-secondary {
      // border: 2px solid #f6783a;
      color: white;
      background-color: #f6783a;
      font-size: 18px;
    }

    &-nav {
      gap: 32px;

      .nav-link {
        color: white;
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
        padding: 8px 8px 0px 8px;
        .square {
          display: none;
        }
        @include md {
          color: black;
        }
        &.about {
           
          position: relative;
          .shape {
            display: none;
          }
        }

        &.black {
          color: black;
        }

        &.dropdown-toggle {
          &::after {
            display: none;
          }
        }

        i {
          font-size: 24px;
        }
        &.show {
          &.about {
            .shape {
              display: block;
              position: absolute;
              left: 50%;
              transform: translate(-50%, 0);
              width: 20px;
              height: 20px;
              top: 135%;
              z-index: 10000;
            }
          }

          &.courses {
            position: relative;
            .square {
              position: absolute;
              height: 20px;
              width: 20px;
              top: 145%;
              left: 50%;
              transform: translate(-50%, 0);
              display: block;
              z-index: 10000;
            }
          }
          .feather {
            // background-color: red;
            transform: rotate(180deg);
          }
        }
      }
      .menu {
        // left: 65%;
        a {
          text-decoration: none;
          color: unset;
        }
        .dropdown-item {
          padding: 12px 18px;
          // transition: all 0.1s;

          &:hover {
            background-color: $btn--color;
            color: white;
          }
        }
      }

      .dropdown-menu {
        top: 97%;
        border-radius: 0;
        &.menu {
          top: 160%;
        }
        .course-content {
          ul {
            list-style: none;
            li {
              font-size: 16px;
              font-weight: 400;
              line-height: 19px;
              padding: 8px 0;
              p {
                font-size: 16px;
                color: rgb(18, 18, 18);
                line-height: 19px;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }
  button {
    border: none;
  }
   
    // transition: none !important;
    // &.collapsing{
    //   transition: none !important;
    // }
   
    // &.show {
    //   // padding-top: 20px;
    //   transition: none;
    // }
    // &.navbar-collapse {
    //   transition: none;
    //   @include md {
    //     // height: 100vh;
    //     background-color: white;
    //   }
    // }

    .mobile-mega-menu {
      ul {
        list-style: none;
        padding: 0;
        height: 100vh;
        li {
          width: 100%;
          padding: 16px;
          border-bottom: 2px solid rgba(151, 145, 145, 0.18);
          a {
            text-decoration: none;
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            color: rgb(58, 58, 58);
          }
        }
      }
    }
  
}
