.mobile-canvas {
  &.offcanvas {
    top: 10%;
    width: 100%;
    border-left: none;

    &-header {
      display: block;
      padding-left: 12px;
      padding-top: 16px;
      padding-bottom: 16px;
    }

    .offcanvas-body {
        padding-left: 0px;
        padding-top: 0px;
      .accordion {
        &-item {
          h2 {
            font-size: 16px;
            line-height: 19px;
            color: rgb(24, 26, 27);

            .accordion-button {
              box-shadow: none;
              background-color: white;
            }
          }
        }
      }
    }
  }
}
.offcanvas-backdrop{
    &.show{
        opacity: 0;
    }
}