.client-section {
  position: relative;
  padding-top: 80px;
  padding-bottom: 120px;
  @include md {
    padding-top: 40px;
    padding-bottom: 80px;
  }
  @include sm {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  &__content {
    display: flex;
    gap: 58px;
    &__left {
      position: relative;

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      img {
        @include md {
          width: 300px;
          height: 300px;
          object-fit: cover;
          border-radius: 16px;
        }
        @include sm {
          // width: 100%;
        }
      }
    }

    @include md {
      align-items: flex-start;
    }
    @include sm {
      flex-direction: column;
      justify-content: flex-start;
      gap: 0px;
    }

    &__right {
      // margin-top: 52px;
      @include xl {
        margin-top: 0px;
      }
      @include md {
        margin-top: 10px;
      }
      h1 {
        color: rgba(0, 65, 163, 0.1);
        font-family: Poppins;
        font-size: 80px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2.4px;
        @include xl {
          font-size: 60px;
        }
        @include md {
          font-size: 40px;
        }
      }
    }
  }

  &__review {
    position: absolute;
    right: 0;
    bottom: 40px;
    max-width: 656px;
    max-height: 226px;
    border-radius: 8px;
    padding: 88px 95px 79px 46px;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.3);
    z-index: 999;
    background-color: white;

    @include md {
      left: 310px;
      bottom: 80px;
      padding: 30px 30px;
      width: 400px;
    }
    @include sm {
      display: none;
    }

    .review {
      p {
        color: #3a3a3a;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        @include md {
          font-size: 13px;
        }
      }
    }
    svg {
      margin-bottom: 10px;
    }
    span {
      color: #121212;
      font-family: "Open Sans";
      font-size: 16px;

      font-weight: 500;
      line-height: 24px;
    }
  }
}
