.home-banner {
  padding-top: 170px;
  position: relative;
  z-index: 1;
  color: white;
  @include sm{
    padding-top: 120px;
  }

  &__background {
    position: absolute;
    height: 94%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    @include sm{
      height: 62%;
    }

    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }

  h2 {
    font-size: 48px;
    font-weight: 500;
    line-height: normal;
    @include lg {
      font-size: 44px;
    }
    @include md {
      font-size: 39px;
    }
    @include sm{
      font-size:32px ;
    }
  }
  p {
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    @include sm{
      font-size: 16px;
      line-height: 24px;
    }
  }

  strong {
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    @include sm{
      font-size: 20px;
    }
  }

  .courses {
    span {
      font-size: 20px;
      line-height: 24px;
      font-weight: 300;
      @include sm{
        font-size: 16px;
        line-height: 19px;
      }
    }
  }

  &__cards-wrapper {
    margin-top: 116px;
    @include sm{
      margin-top: 60px;
    }

    .highlighted-card {
      filter: drop-shadow(16px 16px 32px rgba(18, 18, 18, 0.08));
      height: 130px;

      &__content {
        strong {
          color: #002e72;
          font-weight: 500;
          font-size: 32px;
          margin-bottom: 8px;
        }
        p {
          font-size: 16px;
          font-weight: 400;

          color: rgb(0, 46, 114);
        }
      }
    }
  }
}
